extends layout 

block content
  form(method='POST' action='/admin')
    label(for='password') Enter new password 
    input(type='password' name='password')

    button(type="submit") Update Password