doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul 
        li 
          a(href='/signup') Sign Up
        li 
          a(href='/login') Login
        li 
          a(href='/') Home
    block content
