extends layout

block content 
  form(method="POST" action='/users/profile/update')

    label(for='firstname') First Name
    input(type='text' name='firstname' placeholder='First Name' value=(currentUser ? currentUser.firstname : ''))

    label(for='lastname') Last Name
    input(type='text' name='lastname' placeholder='Last Name' value=(currentUser ? currentUser.lastname : ''))

    label(for='email') Email
    input(type='email' name='email' placeholder='soandso@email.io' value=(currentUser ? currentUser.email : ''))

    label(for='password') Enter password to confirm changes
    input(type='password' name='password' placeholder='Password')

    button(type="submit") Update Profile

  if errors
    ul 
      for error in errors 
        li!= error.msg