.ql-snow {
  border: none !important;
  background-color: hsl(var(--b1));
}

.ql-toolbar.ql-snow {
  border-radius: var(--tab-radius) var(--tab-radius) 0 0;
}

.ql-container.ql-snow {
  border-radius: 0 0 var(--tab-radius) var(--tab-radius);
  height: 10rem;
}

.ql-snow .ql-stroke {
  stroke: white;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: white;
}

pre {
  background-color: hsl(var(--n));
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: hsl(var(--in));
}

ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

main ul {
  list-style-type: disc;
  margin-left: 1rem;
}
